html {
    font-size: 10px;
}

.highlight {
    color: darkslategray;
    text-transform: capitalize;
    font-size: 7rem;
    font-weight: bolder;
    font-style: fantasy;
    text-align: center;
    border: 2px solid rgb(255 84 104);
}

.name {
    color: black;
    text-transform: capitalize;
}

.box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid rgb(255 84 104)
}

body {
    background-color: bisque;
    margin: 0 auto;
    padding: 0;
}

.profile-image {
    width: 300px;
    height: 300px;
    max-width: 100%;
    height: auto;
    display: block;
}

h1 {
    margin: 0;
}

h2 {
    font-weight: bold;
    font-size: 5rem;
    color: 667;
}

h2 + p {
    font-family: lato, sans-serif;
}

p {
    font-size: 3rem;
    padding: 20px 50px;
}

li {
    font-size: 3rem;
}

h3 {
    font-size: 4rem;
    font-weight: bold;
}
