html {
    font-size: 10px;
}


.box {
    display: flex;
    justify-content: space-evenly;
  }

body {
    background-color: bisque;
    margin:0 auto;
    padding:0

}

.title {
    border: 1px solid black; 
    margin: 0; 
    padding: 10px; 
  }

.picture {
    max-width: 100%;
    height: auto; 
    display: block;
}

h1 {
    color: darkslategray;
    text-transform: capitalize;
    font-size: 7rem;
    font-weight: bolder;
    font-style: fantasy;
    text-align: center;
    border: 2px solid rgb(255 84 104);
    }


h2 {
    font-weight: bold;
    font-size: 5rem;
    color:667
}

h2 + p {
    font-family: lato, sans-serif;

}

p {
    font-size: 3rem;
  padding: 50px;

}

li {
    font-size: 3rem
}

h3 {
    font-size: 4rem;
    font-weight: bold;
}

name {
    color: black
}