html {
    font-size: 10px;
}

h1 {
    padding-left: 5px;
    margin: auto;
    text-transform: capitalize;
    font-size: 4rem;
    font-style: fantasy;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
}

.info{
    padding-left: 5px;
    text-transform: capitalize;
    font-size: 4rem;
    font-style: fantasy;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
}

.name {
    color: darkslategray;
    text-transform: capitalize;
}

a:link {
    color:black;
    background-color: transparent;
    text-decoration: none;
  }
a:visited {
    color: darkslategray;
    background-color: transparent;
    text-decoration: underline
}

.content {
    padding-top:35px;
    padding-bottom: auto;
}

.box {
    display: flex;
    justify-content: end;
}

#renowned {
    text-align: right;
}

.skills{
    font-family: "calvino";
    font-size: 3em;
    padding-left:20px;
    padding-right:60px;
}

.career {
    font-size: 1.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 20px;
    padding-right: 50px;
    margin-top: 2px;
}

.header {
    display: flex;
    justify-content: space-between;
}

#email {
    color: black;
    font-size: 4rem;
    font-style: fantasy;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: right;
    padding-right: 5px;
}

body {
    background-color: #F2E6DF;
    margin: 0 auto;
    padding: 0;
}

.selfie {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: 2px;
    padding: 2px;
}

h2 {
    font-weight: bold;
    font-size: 5rem;
    color: 667;
}

h2 + p {
    font-family: lato, sans-serif;
}

h3 {
    font-size: 4rem;
    font-weight: bold;
}

.github {
    width: 40px;
    height: 40px;
}

.linkedin {
    width: 40px;
    height: 40px;
}

.twitter {
    width: 40px;
    height: 40px;
}

.footer {
    display: flex;
    justify-content: space-around;
    padding-right: 500px;
    padding-top: 150px;
}